<%- include('partials/header') -%>

<div class="mx-52 mt-5 rounded-lg bg-[#D0D4CA]">

    <h1 class="ml-4 pt-3 text-3xl"><%=postTitle%></h1>
    <p class="ml-4 pt-3 "><%=postContent%></p>
  
</div>







<%- include('partials/footer') -%>