<%- include('partials/header') -%>

<div class="mx-52 mt-5 rounded-lg bg-[#D0D4CA]">

    <h1 class="text-3xl ml-4 pt-3 ">Contact</h1>
    <p class="ml-4 pt-3 pb-2 ">
        Welcome to [Your Blog Name], your daily dose of inspiration, information, and entertainment! <br>
        We're thrilled to have you join us on this journey through the ever-fascinating world of daily blogging. <br>
        Here, we believe that every day is an opportunity for new experiences, fresh insights, and creative expressions, and we can't wait to share them with you. <br>
        Our mission is simple: to bring you a diverse range of daily blogs that cater to your curiosity and interests. <br>
        Whether you're a passionate traveler, a tech enthusiast, a foodie, a fitness fanatic, or someone seeking a daily dose of motivation,
        you'll find something here to brighten your day and broaden your horizons.

    </p>
    </div>
<%- include('partials/footer') -%>