<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <title>Document</title>
  
</head>
<body class="flex flex-col min-h-screen">
  <div class="flex space-y-8 bg-[#A7D397]">
    <img class="w-40 mx-52" src="https://o.remove.bg/downloads/e2ba9254-71f5-4913-8b51-dc73fc4f9f73/image-removebg-preview.png" alt="">
    <nav class="flex font-sans space-x-11 text-2xl ml-72">
      <div>Home</div>
      <div>About Us</div>
      <div>Contact Us</div>
    </nav>
  </div>